
input {
    keyboard {
        xkb {
             layout "us,ru"
             options "grp:alt_shift_toggle"
        }

        
        numlock
    }

   

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

     focus-follows-mouse max-scroll-amount="0%"
}



layout {
    gaps 12

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }


    default-column-width { proportion 0.5; }
    focus-ring {
        //off

        width 4



        active-color "#7fc8ff"

        inactive-color "#505050"

 
    }


    border {
        
        //off

        width 1
        active-color "#633496"
        inactive-color "#270c41"

  
        urgent-color "#8d31c2"

        
    }

    // You can enable drop shadows for windows.
    shadow {
         on
  
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}




hotkey-overlay {
     skip-at-startup
}

 prefer-no-csd

screenshot-path "~/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}



//include

include "add/binds.kdl"
include "add/cursor.kdl"
include "add/outputs.kdl"
include "add/windowrules.kdl"
include "add/autostart.kdl"







include "./noctalia.kdl"

