layout {

    focus-ring {
        active-color   "#add6f1"
        inactive-color "#182025"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#add6f1"
        inactive-color "#182025"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#18202570"
    }

    tab-indicator {
        active-color   "#add6f1"
        inactive-color "#118bdb"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#add6f180"
    }
}

recent-windows {
    highlight {
        active-color "#add6f1"
        urgent-color "#fd4663"
    }
}
