layout {

    focus-ring {
        active-color   "#6698e6"
        inactive-color "#091a35"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6698e6"
        inactive-color "#091a35"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#091a3570"
    }

    tab-indicator {
        active-color   "#6698e6"
        inactive-color "#0a3e8f"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6698e680"
    }
}

recent-windows {
    highlight {
        active-color "#6698e6"
        urgent-color "#fd4663"
    }
}
