layout {

    focus-ring {
        active-color   "#5f93ec"
        inactive-color "#061837"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#5f93ec"
        inactive-color "#061837"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#06183770"
    }

    tab-indicator {
        active-color   "#5f93ec"
        inactive-color "#053994"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#5f93ec80"
    }
}

recent-windows {
    highlight {
        active-color "#5f93ec"
        urgent-color "#fd4663"
    }
}
