spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "qs" "-c" "noctalia-shell"
//spawn-at-startup "noctalia"

