

output "DP-1" {
    mode "3440x1440@180.000"
    scale 1
    position x=0 y=0
    layout {
        always-center-single-column
    }
}

output "HDMI-A-2" {
  mode "1920x1080@100.000"
  scale 1
  position x=-1920 y=0
}

